@import "tailwindcss";
@tailwind base; 
@tailwind components; 
@tailwind utilities;

body{
  background-color: #1a1416;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
